<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginsignup.css">
    <link rel="shortcut icon" href="/favicon/android-chrome-192x192.png" type="image/x-icon">


</head>

<body>
    <%- include ('header');%>


        <div id="content-body">

            <form action="/editprofile" class="signup-form form" method="post" enctype="multipart/form-data">
                <h1>Update Your Profile </h1>
                <div class="submitted-field">
                    <label for="">
                        <i class="ri-user-fill"></i>
                        <input type="text" name="username" onkeyup="checkChar()" id="" placeholder="Username"
                            value="<%= user.username%>">
                    </label>
                    <label for="">
                        <i class="ri-user-heart-line"></i>
                        <input type="text" name="name" id="" onkeyup="checkChar()" placeholder="Full name"
                            value="<%= user.name%>">
                    </label>
                    <label for="">
                        <i class="ri-lock-unlock-fill"></i>
                        <input type="text" name="bio" onkeyup="checkChar()" placeholder="Your Bio" id="bio"
                            value="<%= user.bio%>">
                    </label>

                    <label for="">
                        <i class="ri-file-image-fill"></i>
                        <input type="button" class="choose-image-button" value="Change Photo">
                        <input type="file" name="image" id="" hidden>
                    </label>

                    <input type="submit" value="Update" class="submit-button">
                    <p class="error"> </p>
                </div>
            </form>
        </div>

        <%- include ('footer');%>



            <script>
                document.querySelector(".choose-image-button").addEventListener("click", function () {
                    document.querySelector("input[type=file]").click();
                })

                document.querySelector(".signup-form.form").addEventListener("click", function (e) {
                    if (document.querySelector("input[name=bio]").value.length >= 30) {

                        e.preventDefault()
                    }
                    else if (document.querySelector("input[name=name]").value.length >= 15) {
                        e.preventDefault()

                    }
                    else if (document.querySelector("input[name=username]").value.length >= 15) {
                        e.preventDefault()
                    }
                    else if (document.querySelector("input[name=name]").value.length <= 3) {
                        e.preventDefault()

                    }
                    else if (document.querySelector("input[name=username]").value.length <= 3) {
                        e.preventDefault()

                    }
                })


                document.querySelector(".error").style.color = "red"

                function checkChar() {
                    if (document.querySelector("input[name=bio]").value.length >= 30) {

                        document.querySelector(".error").innerText = "Text Limit Cross !"
                    }
                    else if (document.querySelector("input[name=name]").value.length >= 15) {
                        document.querySelector(".error").innerText = "Name is too long"

                    }
                    else if (document.querySelector("input[name=username]").value.length >= 15) {
                        document.querySelector(".error").innerText = "username is too long"
                    }
                    else if (document.querySelector("input[name=name]").value.length <= 3) {
                        document.querySelector(".error").innerText = "Name is too short"

                    }
                    else if (document.querySelector("input[name=username]").value.length <= 3) {
                        document.querySelector(".error").innerText = "username is too short"

                    }
                    else {
                        document.querySelector(".error").innerText = ""
                    }
                }
            </script>
</body>


</html>