<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>

  <%- include ('header');%>

    <div id="content-body">

      <div class="first-page">

        <div class="left-and-right-side">

          <div class="left-side">

            <div class="typewriter-container">
              <div class="text">
                <h1>Welcome To <span>" Bytes</span> Pedia "</h1>
              </div>

              <h2>Student can here:</h2>
              <h3>
                Find: <span id="typewriter-text"></span>
              </h3>
              <p class="text">
                Welcome to <strong>BytesPedia</strong> , your go-to platform for semester-wise educational notes. We're
                passionate about simplifying learning, offering meticulously curated notes for each semester. Whether
                you're a registered user enjoying personalized features like bookmarking or a guest user benefiting from
                direct downloads, our goal is to empower every student's academic journey.
              </p>
              <p class="text">
                For those seeking an organized study approach, registered users can take advantage of our bookmarking
                feature, creating a personalized study plan with ease. Not registered? No worries! All users, logged in
                or not, can seamlessly download and view notes directly from our website. Explore our collection,
                enhance your understanding of complex concepts, and make your academic experience smoother with
                <span class="bytes index">Bytes</span> <span class="pedia index">Pedia </span>

              </p>
              <p>
                Your success matters to us. For questions, suggestions, or support, reach out to our dedicated team.
                Thank you for choosing <span class="bytes index">Bytes</span> <span class="pedia index">Pedia </span>
                where learning is made simple and accessible for everyone.
              </p>

            </div>

          </div>

          <div class="right-side">

            <div class="giffy-img-wrap">
              <img src="/images/hi.gif" alt="book is self turning the page giffy image">

              <img src="/images/lets read.gif" alt="book is self turning the page giffy image">
            </div>
          </div>
        </div>


        <!-- carousel is here -->

        <div class="wrapper">
          <h1>
            " People Feedback "
          </h1>
          <!-- left arrow -->
          <i class="ri-arrow-left-s-line"></i>


          <ul class="carousel">
            <% feedback.reverse().forEach(function(e){ %>
              <a href="#" class="card">
                <div class="img">
                  <img src="/images/userPhoto/<%= e.user.image%>" alt="<%= e.user.name %>'" width="200">
                </div>
                <h2>
                  <%= e.user.username%>
                </h2>
                <span class="feedback-comment">
                  <%= e.comment%>
                </span>
              </a>
              <% }) %>
          </ul>
          <i class="ri-arrow-right-s-line"></i>
        </div>

      </div>







      <div class="second-page" id="semister-list-link">
        <div class="introduction">
          <p>Welcome to our
            <span class="bytes index">Bytes</span> <span class="pedia index">Pedia </span>
            Click on your specific semester link to discover
            subjects and access notes
            tailored for your academic needs. Navigate seamlessly through past-year questions for each subject,
            enhancing your preparation. It's your one-stop destination for organized study materials and exam resources.
            Explore, learn, and excel in your BCA journey with ease.
            <span class="img">
              <img src="/images/girl reading book gif.gif" alt="gir is reading a book giffy">
            </span>
          </p>

          <div class="notice-board">
            <span class="notice-headline">
              notice board
            </span>
          </div>

          <div class="dancing-boy-wrap">
            <img src="/images/dancing boy.gif" alt="dancing boy image">
          </div>
        </div>

        <div class="semister-name-container">
          <h2>Go To Your faculty</h2>
          <a href="/bca">
            bca
          </a>
          <a href="/bsccsit">
            bsccsit
          </a>
          <a href="/bit">
            bit
          </a>
          <a href="/bbm">
            bbm
          </a>
        </div>
      </div>
    </div>



  <%- include ('footer');%>

      <script src="/javascripts/index.js"></script>
</body>

</html>