<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="shortcut icon" href="/favicon/android-chrome-192x192.png" type="image/x-icon">

</head>

<body>

  <%- include ('header');%>

    <div id="content-body">

      <div class="first-page">

        <div class="left-and-right-side">

          <div class="left-side">

            <div class="typewriter-container">
              <div class="text">
                <h1>Welcome To
                  <br>
                  <span>Bytes</span> Pedia
                </h1>
              </div>

              <h3>
                <span id="typewriter-text">

                </span>
              </h3>

              <button class="past-year-questions-button">
                <a href="/allSemisterPastYearQuestions">Past Years Questions</a>
              </button>


            </div>

          </div>

          <div class="right-side">

            <div class="giffy-img-wrap">
              <img src="/images/hi.gif" alt="book is self turning the page giffy image">

              <img src="/images/lets read.gif" alt="book is self turning the page giffy image">
            </div>
          </div>
        </div>


        <!-- carousel is here -->



      </div>







      <div class="second-page" id="semister-list-link">
        <div class="introduction">

          <h1 class="get-your-all-faculty-notes">Choose Your <br>Faculty...</h1>

          <div class="dancing-boy-wrap">
            <img src="/images/dancing boy.gif" alt="dancing boy image">
          </div>
        </div>

        <div class="semister-name-container">
          <a href="/bca">
            bca
          </a>
          <a href="/bsccsit">
            bsccsit
          </a>
          <a href="/bit">
            bit
          </a>
          <a href="/bbm">
            bbm
          </a>
        </div>
      </div>


      <div class="wrapper">
        <h1>
          " People Feedback "
        </h1>


        <ul class="carousel">
          <% feedback.reverse().forEach(function(e){ %>
            <a href="#" class="card">
              <div class="img">
                <img src="/images/userPhoto/<%= e.user.image%>" alt="<%= e.user.name %>'">
              </div>
              <h2>
                <%= e.user.username%>
              </h2>
              <span class="feedback-comment">
                <%= e.comment%>
              </span>
            </a>
            <% }) %>
        </ul>
      </div>
    </div>



    <%- include ('footer');%>

      <script src="/javascripts/index.js"></script>
</body>

</html>