<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="shortcut icon" href="/favicon/android-chrome-192x192.png" type="image/x-icon">

</head>

<body>

  <%- include ('header');%>

    <div id="content-body">

      <div class="first-page">

        <div class="left-and-right-side">

          <div class="left-side">

            <div class="typewriter-container">
              <div class="text">
                <h1>Welcome To <span>" Bytes</span> Pedia "</h1>
              </div>

              <h3>
                Find: <span id="typewriter-text"></span>
              </h3>

              <p class="text">
                Welcome to <strong>BytesPedia</strong> , your go-to platform for semester-wise educational notes for
                BCA. We're
                offering simplifying learning, hand written notes and Past Year Question Paper.Our goal is to provide
                combine place to provide better learning exerience and go to place for all notes and Questions Papers.
              </p>
              <button class="past-year-questions-button">
                <a href="/allSemisterPastYearQuestions">Past Years Questions</a>
              </button>


            </div>

          </div>

          <div class="right-side">

            <div class="giffy-img-wrap">
              <img src="/images/hi.gif" alt="book is self turning the page giffy image">

              <img src="/images/lets read.gif" alt="book is self turning the page giffy image">
            </div>
          </div>
        </div>


        <!-- carousel is here -->



      </div>







      <div class="second-page" id="semister-list-link">
        <div class="introduction">

          <h1 class="get-your-all-faculty-notes">get your all faculty notes.</h1>
          <p>
            <span class="get-your-fac-paragraph">
              here you can find all your faculty list then you can select your faculty and find questions and notes
              there.
            </span>
            <span class="img">
              <img src="/images/girl reading book gif.gif" alt="gir is reading a book giffy">
            </span>
          </p>

          <div class="dancing-boy-wrap">
            <img src="/images/dancing boy.gif" alt="dancing boy image">
          </div>
        </div>

        <div class="semister-name-container">
          <h2>Go To Your faculty</h2>
          <a href="/bca">
            bca
          </a>
          <a href="/bsccsit">
            bsccsit
          </a>
          <a href="/bit">
            bit
          </a>
          <a href="/bbm">
            bbm
          </a>
        </div>
      </div>


      <div class="wrapper">
        <h1>
          " People Feedback "
        </h1>
        <!-- left arrow -->
        <i class="ri-arrow-left-s-line"></i>


        <ul class="carousel">
          <% feedback.reverse().forEach(function(e){ %>
            <a href="#" class="card">
              <div class="img">
                <img src="/images/userPhoto/<%= e.user.image%>" alt="<%= e.user.name %>'" width="200">
              </div>
              <h2>
                <%= e.user.username%>
              </h2>
              <span class="feedback-comment">
                <%= e.comment%>
              </span>
            </a>
            <% }) %>
        </ul>
        <i class="ri-arrow-right-s-line"></i>
      </div>
    </div>



    <%- include ('footer');%>

      <script src="/javascripts/index.js"></script>
</body>

</html>