<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/semister.css">
</head>

<body>
    <% include header.ejs %>


        <div id="content-body">
            <div class="quick-links">
                <h2>
                    Qucik Links
                </h2>
                <a href="">
                    <%= semisterContent.subOne %>
                </a>
                <a href="">
                    <%= semisterContent.subTwo %>

                </a>
                <a href="">
                    <%= semisterContent.subThree %>

                </a>
                <a href="">
                    <%= semisterContent.subFour %>

                </a>
                <a href="">
                    <%= semisterContent.subFive %>

                </a>

            </div>



            <div class="content">
                <div class="notes-container">
                    <h2>Subject Name</h2>
                    <iframe src="/notes/<%= semisterContent.pdfUrl %>" frameborder="0"></iframe>

                    </iframe>
                    <div class="book-mark-section">
                        <p>
                            Create an account to bookmark notes. Your bookmarked notes will be stored in your profile,
                            allowing you to quickly view them anytime.
                        </p>
                        <i class="ri-bookmark-line bookmark-button"></i>

                    </div>
                </div>
            </div>

        </div>

        <% include footer.ejs%>

</body>

</html>